$backgroundColor: #0d376a;


.logo {
  width: 54rem;
  margin: auto;

  @media only screen and (max-width: 1002px) {
    width: 95vw;
  }

  img {
    width: 15rem;

    @media only screen and (max-width: 1002px) {
      display: block;
      margin: auto;
    }
  } 
}

.headerBar {
  background-color: $backgroundColor !important;
  width: 100%;
}


.navs {
  background-color: $backgroundColor !important;
  display: flex;
  justify-content: center;
 
  li {
    color: white !important
  }
}

.pops {
  ul {
    margin-top: -.4rem !important;
    background-color: $backgroundColor !important;

    li:hover {
      background-color: #1890ff !important;
    }
  }
}

